In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pickle
import os

In [2]:
# import parquet file src/output/all_data.parquet

data = pd.read_parquet('src/output/all_data.parquet')

In [3]:
data.head()

,^GDAXI,^GSPC,^IXIC,unemployment,gdp,inflation,interest_rate,money_supply,AAPL,MSFT,GOOG,AMZN,FB,TSLA
2006-01-02,-1.247425,NaN,NaN,NaN,NaN,NaN,NaN,6696.8,NaN,NaN,NaN,NaN,NaN,NaN
2006-01-03,-1.243457,-0.840025,-0.884245,NaN,NaN,NaN,NaN,NaN,-0.895238,-0.674184,-0.924353,-0.766531,NaN,NaN
2006-01-04,-1.220116,-0.833331,-0.876285,NaN,NaN,NaN,NaN,NaN,-0.894965,-0.672271,-0.911999,-0.766953,NaN,NaN
2006-01-05,-1.222745,-0.833303,-0.870872,NaN,NaN,NaN,NaN,NaN,-0.895697,-0.671976,-0.904594,-0.766442,NaN,NaN
2006-01-06,-1.215406,-0.816110,-0.859268,NaN,NaN,NaN,NaN,NaN,-0.893317,-0.673154,-0.886798,-0.766161,NaN,NaN

In [4]:
# descriptive statistics of the data
data.describe()

,^GDAXI,^GSPC,^IXIC,unemployment,gdp,inflation,interest_rate,money_supply,AAPL,MSFT,GOOG,AMZN,FB,TSLA
count,3.800000e+03,3.776000e+03,3.776000e+03,181.000000,61.000000,181.000000,181.000000,783.000000,3.776000e+03,3.776000e+03,3.776000e+03,3.776000e+03,0.0,2.647000e+03
mean,-1.196704e-16,-6.021549e-17,1.806465e-16,6.307735,17296.113410,231.420387,1.232265,11027.037292,6.021549e-17,-6.021549e-17,6.021549e-17,-6.021549e-17,NaN,-2.147466e-17
std,1.000132e+00,1.000132e+00,1.000132e+00,2.209763,2583.329516,17.149445,1.670686,3048.087220,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,NaN,1.000000e+00
min,-1.908864e+00,-1.690731e+00,-1.277825e+00,3.500000,13599.160000,199.300000,0.050000,6696.800000,-9.250828e-01,-8.341444e-01,-1.143770e+00,-7.940129e-01,NaN,-6.168629e-01
25%,-8.908454e-01,-7.943955e-01,-8.003327e-01,4.600000,14865.701000,217.290000,0.120000,8451.850000,-7.518395e-01,-6.379640e-01,-8.101423e-01,-7.066625e-01,NaN,-5.707431e-01
50%,-2.146366e-01,-2.917846e-01,-3.781072e-01,5.600000,16911.068000,232.937000,0.200000,10696.100000,-2.897073e-01,-4.986751e-01,-3.795237e-01,-4.658645e-01,NaN,-1.753836e-01
75%,9.794692e-01,7.331730e-01,5.832394e-01,8.200000,19304.506000,244.006000,1.910000,13433.650000,3.686846e-01,1.806025e-01,6.119756e-01,3.069216e-01,NaN,-1.073846e-03
max,1.845587e+00,2.732564e+00,3.416720e+00,14.700000,22313.850000,262.650000,5.260000,19151.600000,4.510961e+00,3.611299e+00,3.067411e+00,3.684503e+00,NaN,6.895214e+00